#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.content{
  /* width: 75.4%;
  right: 0px;
  float: right;
  display: block;
  position: fixed;
  right: -27px;
  background-color: black;
  max-width: fit-content; */
  background-color: black;
  position: relative;
  width: 73.5%;
  left: 29.2%;
  top: 0px;
  padding-top: 24.7vh;
  overflow: auto;
  
}

select:focus, input:focus{
  outline: none;
}